@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:wght@400;700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CUSTOM ANIMATIONS */
@keyframes rotateIcon {
  from {
    transform: rotateZ(360deg);
    color: #eed728;
  }

  to {
    transform: rotateZ(0deg);
    color: #ff1be4;
  }
}

/* UTILITY CLASSES */

.rtl {
  text-align: right;
}


/* GENERAL STYLING */
.rotate {
  animation: 1s infinite linear rotateIcon ;
}